package atoms

templ Divider() {
	<div class="w-12 h-px bg-gold"></div>
}

templ DividerFull() {
	<div class="w-full h-px bg-edge"></div>
}

templ DividerFullDark() {
	<div class="w-full h-px bg-white/8"></div>
}

templ DividerGold() {
	<div class="w-full h-px bg-gradient-to-r from-transparent via-gold/40 to-transparent"></div>
}
